<div class="row g-5 about py-5">
    <div class="col-12 col-xl-6" data-aos="reveal-left">
        <h3 class="display-5">I am a data analyst with a banking and finance background who enjoys challenges of all shapes and sizes.</h3>
    </div>
    <div class="col-12 col-xl-6 opacity-90" data-aos="reveal-right" data-aos-delay="250">
        <p>I analyse large datasets to draw insights from the data in order to help with data driven decision making. I use my skill set to clean data, analyse it, find trends, patterns and make recommendations of moving the business forward.</p>
        <p></p>Ultimately creating value, driving growth, increasing revenue and profitability for the firm.</p>
    </div>
</div>